.iconfont {
	font-family: iconfont;
}

.page {
	background-color: #EDEDED;
	/* #ifndef APP-NVUE */
	min-height: 100vh;
	height: auto;
	/* #endif */

	/* #ifdef APP-NVUE */
	flex: 1;
	/* #endif */
}
