.iconfont {
	font-family: iconfont;
}

.page {
	background-color: #EDEDED;
	/* #ifndef APP-NVUE */
	min-height: 100vh;
	height: auto;
	/* #endif */

	/* #ifdef APP-NVUE */
	flex: 1;
	/* #endif */
}

.bg-light {
  background-color: #f8f9fa;
}

.bg-hover-dark {
	background-color: #1d2124;
}
