.badge-view {
  background-color: #dc3545;
  // border-radius: 100rpx;
  border-radius: 100%;
  // padding: 6rpx;
  @include flex-xy-layout;
  width: 30rpx;
  height: 30rpx;
  .badge-text {
    color: #ffffff;
    font-size: 20rpx;
  }
}

.popup-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* #ifndef APP-NVUE */
  z-index: 9999;
  /* #endif */
}

.popup-body {
  position: fixed;
  top: 0;
  left: 0;
  /* #ifndef APP-NVUE */
  z-index: 9999;
  /* #endif */
  &.popup-body-center {
    border-radius: 8rpx;
  }
  &.popup-body-bottom {
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.popup-body-custom {
    border-radius: 8rpx;
    border: 1rpx solid #dee2e6;;
  }
}

.popup-body-animated {
  /* #ifdef APP-ANDROID */
  transform: scale(0,0);
  opacity: 0;
  /* #endif */
}
