.contact-item-letter {
  padding: 20rpx 30rpx;
  border-bottom-width: 1rpx;
  border-bottom-style: solid;
  border-bottom-color: #dee2e6;
  background-color: #f8f9fa;
  .contact-letter {
    font-size: 35rpx;
    color: #343a40;
  }
}
