.chat-time-wrap {
  @include flex-xy-layout;
  margin-bottom: 30rpx;
  .chat-time-text {
    @include font-style(25rpx);
    color: #A9A5A0;
  }
}

.chat-revoke-wrap {
  @include flex-xy-layout;
  margin-bottom: 30rpx;
  .chat-revoke-text {
    @include font-style(25rpx);
    color: #A9A5A0;
  }
}

// 聊天消息-右边
.chat-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 30rpx;
  margin-bottom: 50rpx;
  .user-avatar {
    margin-right: 20rpx;
  }
  .chat-msg-wrap {
    flex: 1;
    margin-right: calc(70rpx + 20rpx);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .chat-text-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 60rpx;
      padding: 20rpx;
      border-radius: 10rpx;
      background: #fff;
      .chat-text {
        @include font-style(32rpx);
        line-height: 40rpx;
      }
    }
    .chat-audio-wrap {
      @include flex-xy-layout;
      background: #fff;
      width: 160rpx;
      padding: 10rpx 0;
      border-radius: 10rpx;
      .chat-audio-img {
        width: 50rpx;
        height: 50rpx;
        margin-left: 10rpx;
      }
      .chat-audio-time {
        font-size: 30rpx;
      }
    }
    .chat-video-wrap {
      position: relative;
      width: 350rpx;
      height: 300rpx;
      .chat-video {
        width: 350rpx;
        height: 300rpx;
        border-radius: 10rpx;
        background-color: #fff;
      }
      .video-cover {
        @include flex-xy-layout;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10rpx;
        .video-play-btn {
          position: absolute;
        }
      }
    }
  }
}

// 聊天消息-左边
.chat-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 0 30rpx;
  margin-bottom: 50rpx;
  .user-avatar {
    margin-left: 20rpx;
  }
  .chat-msg-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: calc(70rpx + 20rpx);
    .chat-text-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20rpx;
      background: $main-bg-color;
      border-radius: 10rpx;
      min-width: 60rpx;
      .chat-text {
        @include font-style(32rpx);
        line-height: 40rpx;
      }
    }
    .chat-audio-wrap {
      @include flex-xy-layout;
      background: $main-bg-color;
      width: 160rpx;
      padding: 10rpx 0;
      border-radius: 10rpx;
      .chat-audio-img {
        width: 50rpx;
        height: 50rpx;
        margin-right: 10rpx;
      }
      .chat-audio-time {
        font-size: 30rpx;
      }
    }
    .chat-video-wrap {
      position: relative;
      width: 350rpx;
      height: 300rpx;
      .chat-video {
        width: 350rpx;
        height: 300rpx;
        border-radius: 10rpx;
        background-color: #fff;
      }
      .video-cover {
        @include flex-xy-layout;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10rpx;
        .video-play-btn {
          position: absolute;
        }
      }
    }
  }
}
