
.upload-module {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .image-item {
    position: relative;
    padding-top: 20rpx;
    .image {
      width: 210rpx;
      height: 210rpx;
      background-color: #f8f9fa;
      border-radius: 8rpx;
    }
    .remove-icon-wrap {
      @include flex-xy-layout;
      position: absolute;
      top: 10rpx;
      right: 6rpx;
      background-color: rgba(0,0,0,0.5);
      width: 40rpx;
      height: 40rpx;
      border-radius: 100rpx;
      .remove-icon {
        font-size: 16rpx;
        color: #fff;
      }
    }
  }
  .image-upload {
    width: 230rpx;
    padding-top: 20rpx;
    .upload-wrap {
      @include flex-xy-layout;
      width: 210rpx;
      height: 210rpx;
      background-color: #f8f9fa;
      border-radius: 8rpx;
      .icon-upload {
        font-size: 80rpx;
        color: #A9A5A0;
      }
    }
  }
}
