.right-icons {
  @include flex-xy-layout;
}

.menu-popup {
  width: 240rpx;
  .menu-item {
    @include flex-xy-layout(flex-start);
    height: 100rpx;
    border-bottom: 1rpx solid #f0f0f0;
    .menu-item-text {
      font-size: 32rpx;
      padding-left: 30rpx;
    }
  }
}
