.chat-module {
  border-top: 1rpx solid #dee2e6;
  .scroll-y-view {
    background: #f8f9fa;
    // background: greenyellow;
  }
}

.menu-popup {
  width: 240rpx;
  .menu-item {
    @include flex-xy-layout(flex-start);
    height: 100rpx;
    border-bottom: 1rpx solid #f0f0f0;
    .menu-item-text {
      font-size: 32rpx;
      padding-left: 30rpx;
    }
  }
}

.input-module {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1rpx solid #dee2e6;
  background-color: #F7F7F6;
  // background: transparent;
  z-index: 100;
  .input-box {
    @include flex-xy-layout;
    padding: 14rpx 20rpx;
    .input-wrap {
      @include flex-xy-layout(flex-start, stretch);
      flex: 1;
      margin: 0 10rpx;
      .input-textarea {
        flex: 1;
        /* #ifndef APP-NVUE */
        width: auto;
        /* #endif */
        height: 80rpx;
        padding: 20rpx;
        background: #fff;
        // background: orangered;
        font-size: 35rpx;
        border-radius: 8rpx;
      }
    }
    .send-btn {
      @include flex-xy-layout;
      background: $main-bg-color;
      padding: 10rpx 20rpx;
      border-radius: 8rpx;
      .send-btn-text {
        font-size: 30rpx;
        font-weight: 500;
        color: #fff;
      }
    }
  }
  .tool-box {
    .action-swiper {
      height: 500rpx;
      .action-switerItem {
        @include flex-xy-layout(flex-start, flex-start);
        flex-wrap: wrap;
        // padding: 10rpx 20rpx;
        .action-boxItem {
          @include flex-y-layout;
          margin-bottom: 20rpx;
          .action-icon {
            width: 100rpx;
            height: 100rpx;
          }
          .action-text {
            font-size: 25rpx;
            color: #6c757d;
            margin-top: 20rpx;
          }
        }
      }
    }
  }
}
