.send-btn {
  @include flex-xy-layout;
  background: $main-color;
  padding: 10rpx 20rpx;
  border-radius: 8rpx;
  .send-btn-text {
    font-size: 30rpx;
    font-weight: 500;
    color: #fff;
  }
}

.textarea {
  /*  #ifndef APP-NVUE  */
  width: 100%;
  /*  #endif  */
  background: #eee;
  padding: 20rpx;
  font-size: 35rpx;
}
