.custom-navbar {
  .custom-navbar-wrap {
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }
    .statusbar-module {
      background-color: transparent;
    }
    .navbar-module {
      @include flex-xy-layout(space-between);
      position: relative;
      padding: 0 20rpx;
      height: 90rpx;
      .navbar-left {
        .icon-back {
          font-size: 35rpx;
        }
      }
      .navbar-center {
        @include flex-xy-layout;
        position: absolute;
        height: 90rpx;
        z-index: -1;
        .navbar-title {
          font-size: 35rpx;
        }
      }
    }
  }
}
