.user-info-wrap {
  @include flex-y-layout(flex-start);
  .user-name {
    font-size: 35rpx;
    font-weight: 500;
    color: #343a40;
  }
  .user-wechat {
    font-size: 28rpx;
    color: #A9A5A0;
    // margin-top: 10rpx;
  }
}

.icon-saosao {
  font-size: 35rpx;
  color: #A9A5A0;
}
